<header class="container items-center flex pt-24 mb-80 justify-between">
<div class="logo">
<a href="/">Jason's Interim Homepage</a>
</div>
<nav>
<ul class="flex gap-24 mb-0">
{# <li><a href="/blog/" class="{{ 'active' if tag == "blog-page"}}">Blog</a></li> #}
{# <li><a href="/about/" class="{{ 'active' if tag == "about-page"}}">About</a></li> #}
<li><a href="https://landing.jasonadle.com">Contact</a></li>
</ul>
</nav>
</header>