---
layout: 'base.njk'
tag: home-page
---
<section>
<div class="md-w-75">
<h1 class="mb-24">Hello there!</h1>
<p>My name is Jason Adle and I'm a transportation planner, urbanist, technology enthusiast, sysadmin-in-training, and developer-in-progress.</p>
<p>Everything I do is in the service of the idea of "innovation in motion" - that is, always moving forward.</p>
<p>Feel free to connect with me using one of the resources on my <a href=https://landing.jasonadle.com>landing page.</a></p>
</div>
</section>
<section class="mb-24">
<div class="lg-w-75">
<h2 class="mb-24">Things I do</h2>
<p>In case you're curious about the things I know how do, here are some things I have experience with:</p>
<h4 class="mb-12">Transportation, geography, and urban planning</h4>
<p>I plan transportation networks, particularly transit networks. I create maps and graphics for various projects, and work in GIS software like QGIS, ArcGIS and Felt Maps. I analyze transit and demographic data in R, handle Big Data and crowdsourced datasets like Replica and GO data from Transit, and review and interpret survey data and open survey responses.</p>
<p>I also design brochures and schedules for transit agencies and work with the GTFS-Static data standard, making manual changes to enhance trip planners.</p>
<h4 class="mb-24">Sysadmin and networking</h4>
<p>I manage home and small business networks, including WiFi, network segmentation, and security. I handle macOS management, which involves working in Apple Business Manager, deploying MDM, setting up configuration profiles, and automating program installation and updates. </p>
<p>Additionally, I administer and secure my own Google Workspace account, and I have experience in managing endpoint security platforms, Secure Web Gateways (SWGs), and deploying Zero Trust Network Access (ZTNA) connectors.</p>
<h4 class="mb-24">Web and general development</h4>
<p>As part of the macOS work, I've written some scripts to help with capturing important information, configuring computers for new users, and informing users about updates and security.</p>
<p>I'm also learning how to code websites, use static site generators, and deploy static websites (like this one!)</p>
</div>
</section>
<section class="mb-80">
<div class="lg-w-75">
<h2 class="mb-24">About this website</h2>
<p>If you've been to my website before, you may have noticed that this looks a lot different than the previous one.</p>
<p>I've decided to do a big redesign and rearchitecture, but in the meantime, I've decided to have this as a nice landing spot.</p>
<p>It's also meant to be a place for me to try my hand at static sites!</p>
</div>
</section>