---
layout: 'base.njk'
tag: home-page
---
<section>
<div class="text-center margin-auto md-w-75 mb-80">
<h1 class="mb-16">Hey there! This is Jason's temporary website.</h1>
<p>While we work on the main website, this will serve as a holding spot. If you have any questions, feel free to reach out through any other methods on the <a href=https://landing.jasonadle.com>landing page.</a></p>
</div>
</section>
<section class="mb-80">
<div class="md-w-75">
<h2 class="mb-24">Typewriter wolf ugh shoreditch brunch tote bag.</h2>
<p>According to all known laws of aviation, there is no way a bee should be able to fly. Its wings are too small to get its fat little body off the ground.</p>
<p>The bee, of course, flies anyway because bees don't care what humans think is impossible.</p>
</div>
</section>
<section class="mb-80">
<h2 class="mb-2">Filler section</h2>
<p class="mb-24">These bees are stress-testing a new helmet technology.</p>
<div class="grid grid-col-2 gap-32">
{%- for post in collections.blog | reverse | limit(5) -%}
  {% include 'post-summary.njk' %}
{%- endfor -%}
</div>
</section> 