---
layout: 'base.njk'
tag: home-page
---
<section>
<div class="md-w-75">
<h1 class="mb-24">Hello there!</h1>
<p>My name is Jason Adle and I'm a transportation planner, urbanist, technology enthusiast, sysadmin-in-training, and developer-in-progress.</p>
<p>Everything I do is in the service of the idea of "innovation in motion" - that is, always moving forward.</p>
<p>I'm always up to meet new people. Feel free to reach out using one of the resources on my <a href=https://landing.jasonadle.com>landing page.</a></p>
</div>
</section>
<section class="mb-80">
<div class="lg-w-75">
<h2 class="mb-24">About this website</h2>
<p>If you've been to my website before, you may have noticed that this looks a lot different than the previous one.</p>
<p>I've decided to do a big redesign and rearchitecture, but in the meantime, I've decided to have this as a nice landing spot.</p>
<p>It's also meant to be a place for me to try my hand at static sites!</p>
</div>
</section>